メインページへようこそ
<% @products.each do |e| %>
<p><%= e.name %></p>
<p><%= e.price %></p>
<%= link_to '削除', "/products/#{e.id}", method: :delete %>
<p><%= link_to 'カートに追加', '/cartitems/new/' %></p>
 


<% end %>


<p><%= link_to '商品登録', '/products/new' %></p>

<p><%= link_to 'カートの中', cart_path(current_cart) %></p>