<input type="hidden" <%= i=0 %>>
<% @cartitems.each do |e| %>

<p>商品名 : <%= Product.find(e.product_id).name %></p>
<p<>価格 : <%= Product.find(e.product_id).price %>円</p>
<p>数量 : <%= e.qty %></p>
    
<%= link_to '削除', "/cartitems/#{e.id}", method: :delete %>
<input type="hidden" <%= i += e.qty * Product.find(e.product_id).price %>>



<% end %>
<p>合計金額<%= i %>円</p>


<p><%= link_to '商品一覧へ', top_main_path %></p>